<h1>New user</h1>

<% form_for(@user) do |f| %>
  <%= f.error_messages %>

	<fieldset>
	<legend>Enter User Details</legend>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :user_password, 'Password' %><br />
    <%= f.password_field :password, :size => 40 %>
  </p>
  <p>
    <%= f.label :user_password_confirmation, 'Confirm' %><br />
    <%= f.password_field :password_confirmation, :size => 40 %>
  </p>
  <p>
    <%= f.submit "Add User", :class => "submit" %>
  </p>
	</fieldset>
<% end %>

<%= link_to 'Back', users_path %>
