<div class="cart-title">Your Cart</div>
<table>
	<% for cart_item in @cart.items %>
		<tr>
			<td><%= cart_item.quantity %> &times;</td>
			<td><%= h(cart_item.title) %></td>
			<td class="total-cell"><%= number_to_currency(cart_item.price) %></td>
		</tr>
	<% end %>
	
	<tr class="total-line">
		<td colspan="2">Total</td>
		<td class="total-cell"><%= number_to_currency(@cart.total_price) %></td>
	</tr>
</table>
<%= button_to "Empty Cart", :action => :empty_cart %>
<%= button_to "Return to store", :action => :index %>