<h2>Log in</h2>
<% form_for :user do |form| %>
	<fieldset>
		<legend>Enter your details</legend>
		
		<div class="form_row">
			<label for="screen_name">Screen name:</label>
			<%= form.text_field :screen_name,
													:size => User::SCREEN_NAME_SIZE,
													:maxlength => User::SCREEN_NAME_MAX_LENGTH %>
		</div>
		<div class="form_row">
			<label for="password">Password:</label>
			<%= form.password_field :password,
															:size => User::PASSWORD_SIZE,
															:maxlength => User::PASSWORD_MAX_LENGTH %>
		</div>
		<div id="form_row">
			<label for="remember_me">Remember Me?:</label>
			<%=	form.check_box :remember_me %>
		</div>
		<div class="form_row">
			<%= submit_tag "Login!", :class => "submit" %>
		</div>
	</fieldset>
<% end %>

<p>
	Not a member?  <%= link_to "Register now!", :action => "register" %>
</p>